/* GENERAL RULES FOR THE WHOLE PAGE */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  height: 100vh;
  background: linear-gradient(to bottom right, darkred, black);
  background-repeat: no-repeat;
  color: white;



  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
      font-size: 50px;
    } // END OF H1

  } // END OF .CONTAINER

  .container span:first-of-type {
    color: gold;
  }

  .container span:nth-child(2) {
    color: orange;
  }

  .container span:last-of-type {
    color: lime;
  }

} // END OF BODY
