/* GENERAL RULES FOR THE WHOLE PAGE */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  height: 100vh;
  background: linear-gradient(to bottom right, darkred, black);
  background-repeat: no-repeat;
  color: white;
}

body .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body .container h1 {
  font-size: 50px;
}

body .container span:first-of-type {
  color: gold;
}

body .container span:nth-child(2) {
  color: orange;
}

body .container span:last-of-type {
  color: lime;
}

